.body{
    overflow: hidden;
    background-color: #000000;
}

main .hashira{
    display: none;
}

main .hashira.selecionado {
    background-color: #000000;
    display: block;
    
}

.hashira .video {
    width: 120vi;
    object-fit: fill;    
    
}

.conteudo{
    position: absolute;
    top: 0;
    left: 800px;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-align: justify;
    background-size: cover;
    padding-bottom: 45vmin;
    background: linear-gradient(-303deg, #00000000 35%, rgba(0, 0, 0, 0.905) 75%) no-repeat;
    font-size: small;
    text-decoration: solid;
    text-shadow: #000000 20px;
    padding: 20px;
}


.conteudoobanai{
    position: absolute;
    top: 0;
    right: 800px;
    bottom: -300px;
    flex-direction: column;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
    text-align: justify;
    background-size: cover;
    padding-bottom: 45vmin;
    background: linear-gradient(300deg, #00000000 35%, rgba(0, 0, 0, 0.719) 75%) no-repeat;
    font-size: small;
    text-decoration: solid;
    text-shadow: #000000 2px;
    padding: 20px;
    
}


.conteudo .h2{
    text-transform: uppercase;
    color: rgb(242, 233, 235);
    font-family: fantasy;
    text-align: center;
    font-size: 130px;
    text-shadow: #000000 10px;

}

.conteudoobanai .h2{
    text-transform: uppercase;
    color: rgb(242, 233, 235);
    font-family: fantasy;
    text-align: center;
    font-size: 130px;
    text-shadow: #000000 2px;

}

.conteudo .frase{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    padding-top: 10%;
    text-align: center;
    text-shadow: #000000 105px;
    text-decoration: solid;
    font-size: medium;
}

.conteudoobanai .frase{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic;
    padding-top: 10%;
    text-align: center;
    text-shadow: #000000 105px;
    font-size: medium;
}

.botoes{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;    
    display: flex;
    flex-direction: row;
    padding-left: 250px;  
    align-items: center;
    gap: 15px;
    background-color:#00000028;
    
    
}

.botoes .botao{
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color:#00000000;
    
}

.botoes .botao img{
    max-width: 80px;
    max-height: 80px;

}

.botoes .botao.selecionado{
    border: #00000000;
    background-color:#00000000;


}
.botoes .botao.selecionado img{
    max-width: 120px;
    max-height: 120px;

}